textarea {
    margin: 2% 0% 2% 0%;
}
textarea, #inputTitle, #optionsTextarea {
    width: 100%;
}

#buttonBack {
    margin: 7% 0% 2% 4%;
}
#blockTopic {
    margin: 0% 4% 0% 4%;
}
#validate {
    float: right;
}

@media (max-width: 1810px) {
    #buttonBack {
        margin: 10% 0% 2% 4%;
    }
}
@media (max-width: 1325px) {
    #buttonBack {
        margin: 13% 0% 2% 4%;
    }
}
@media (max-width: 991px) {
    #buttonBack {
        margin: 15% 0% 2% 4%;
    }
}
@media (max-width: 680px) {
    #buttonBack {
        margin: 19% 0% 2% 4%;
    }
}