body {
background-image: url(../img/oliver-schwendener-9lcWCCRXiKU-unsplash.jpg);
background-repeat: no-repeat;
background-size: cover;

}

.titre {
    color: rgba(83, 81, 81, 0.856);
}

.mail {
    margin: auto;
    border: none;
}


.btnConnexion {
    background-color: #228b229f;
    border-radius: 20px;
    border-color: white;
}


.retour {
    background-color: #22588bad;
    border-radius: 20px;
    border-color: white;
    color: white;
}