/**  VERSION  PC 1920 x 1080  -------------------------------------------------------------------------------------------------------------------------------------------------------*/

body {
    height: 100%;
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
}

.nopadding {
    padding-top: 0px;
}

.btn{
    width: auto;
    height: 70px;
    font-size: 20px !important;
}


/* NAVABR  --------------------------------------------------------------*/

.principale {
    padding-top: 200px;
}


/* deploiement du texte */

#fermeture {
    display: none;
}

#fermeture:target {
    display: block;
}

