/** Footer   --------------------------------------------------------------*/

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer {
    font-size: small;
    box-sizing: border-box;
}

.hrcon {
    height: 10px;
    width: 30px;
    border: 0;
    box-shadow: inset 0 15px 5px -12px #1f9a22;
}

#foot {
    background-image: url('img/bg-foot.jpg');
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
}

.news a {
    color: white;
    text-decoration: none;
}

.news a:hover {
    color: white;
    text-decoration: none;
}

.news {
    text-align: center !important;
    background-color: rgba(0, 0, 0, 0.6);
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    padding-bottom: 5px;
    border-radius: 5px;
    color: white !important;
    font-size: 25px;
}

.news h2, .news h4 {
    font-size: 25px;
}

.fondfoot {
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.418);
    margin-bottom: 50px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 30px;
    border-radius: 5px;
    padding: 10px;
    color: black !important;
}

#email {
    background-color: rgba(255, 255, 255, 0.774);
}


.btn {
    width: 180px;
    height: 70px;
    font-size: 25px !important;
}

@media (min-width: 992px) {
    /** Footer   --------------------------------------------------------------*/
    #foot {
        background-image: url('img/bg-foot.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hrcon {
        height: 20px;
        width: 100px;
        border: 0;
        box-shadow: inset 0 25px 5px -12px #1f9a22;
    }
    
    .contact {
        background-color: rgba(0, 0, 0, 0.6);
        margin-right: 150px;
        margin-left: 150px;
        margin-bottom: 100px;
        margin-top: 25px;
        border-radius: 10px;
        color: white !important;
    }

    .news a {
        color: white;
        text-decoration: none;
    }
    .news a:hover {
        color: white;
        text-decoration: none;
    }

    .news {
        text-align: center !important;
        background-color: rgba(0, 0, 0, 0.6);
        margin-right: 90px;
        margin-left: 90px;
        margin-top: 10px;
        padding-bottom: 5px;
        border-radius: 5px;
        color: white !important;
        font-size: 18px;
    }
    .news h2, .news h4 {
        font-size: 20px;
    }

    .fondfoot {
        z-index: 10;
        background-color: rgba(255, 255, 255, 0.418);
        margin-bottom: 50px;
        margin-right: 220px;
        margin-left: 220px;
        margin-top: 30px;
        border-radius: 5px;
        padding: 10px;
        color: black !important;
    }

    #email {
        background-color: rgba(255, 255, 255, 0.596);
    }

    .btn {
        width: 100px;
        height: 50px;
        font-size: 20px !important;
    }
}