/** Footer   --------------------------------------------------------------*/

footer {
    font-size: small;
}

.hrcon {
    height: 12px;
    width: 100px;
    border: 0;
    box-shadow: inset 0 15px 5px -12px #1f9a22;
}

#foot {
    background-image: url('img/bg-foot.jpg');
}

.contact {
    background-color: rgba(0, 0, 0, 0.479);
    margin-bottom: 100px;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 25px;
    border-radius: 10px;
    color: white !important;
}

.contact a {
    color: white;
    text-decoration: none;
}

.contact a:hover {
    color: white;
    text-decoration: none;
}

@media (min-width: 1200px) {
    /** Footer   --------------------------------------------------------------*/
    #foot {
        background-image: url('img/bg-foot.jpg');
    }
    .contact {
        background-color: rgba(0, 0, 0, 0.479);
        margin-right: 250px;
        margin-left: 250px;
        margin-bottom: 100px;
        margin-top: 25px;
        border-radius: 10px;
        color: white !important;
    }
}