#canvasMap{
     
      position: absolute;
        width : 320px;
        height : 320px;
		z-index: 50;
}

#legende {
	font-size: 12px;
	color: #011a01;
	font-weight: bold;
	z-index: 100;
	margin-bottom: 30px;
	background-color: #FFFFFF;
	position: absolute;
	padding: 4px;
	  
}